<h1>ItemShares#new</h1>
<p>Find me in app/views/item_shares/new.html.erb</p>


<!-- User comes here from their profile after clicking on Loan next to the item they want to loan.
Ideally, thee Iten.id will follow the path and will be available on the next screen.
They then need to select a user to share this item with. So that the ItemShare will include the User.id of the other user as well as the current_user's Item.id.

 -->

 <p>Who do you want to share this with?</p>

<%= form_for @new_share do |f| %>
	<%= f.label :user_id%>
	<%= f.number_field :user_id %>
	<%= f.hidden_field :item_id, { :value => @item_id} %>
<%= f.submit %>
<% end %>



<h3>A list of all the Users</h3>
<%  @users.each do |user| %>

	<%= user.username %>
	<%= user.id %>
	<hr>
	<br>

<% end %>	