<%= content_for :page_title, 'Search Other Users' %>

<%= form_tag users_path, :method => 'get', id: 'users_search' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% @users.each do |u| %>
<table class = "table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Member Since</th>
			<th>Profile Photo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= u.id %></td>
			<td><%= u.username %></td>
			<td><%= u.created_at %></td>
			<div class="user_photo"><td><%= image_tag u.avatar.url("small"), class: "user_specific_photo user_profile_element" %></td></div>
		</tr>
	</tbody>
</table>

<% end %>

<%= link_to 'Back', users_path %>


