<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<%= form_tag users_path, :method => 'get', id: 'users_search' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% @users.each do |u| %>
<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Member Since</th>
			<th>Profile Photo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= u.username %>
			</td>
			<td><%= u.created_at %></td>
			<td><%= image_tag u.avatar.url("small") %></td>
		</tr>
	</tbody>
</table>

<% end %>



