<!-- This pages handles multiple functions:
	- Shows user profile
	- Alows user to delete and or edit account.
	- Shows the items the user owns
	- Shows the items the user has loaned
	- Shows the items the user has borrwed
-->

<%= content_for :page_title, 'Profile' %>

<div class="row">
	<div class="clip-wrap col-xs-6">
		<%= image_tag @user.avatar.url(:small), class: "user_profile_element img-rounded img-responsive" %>
		<svg width="0" height="0">
			<defs>
				<clipPath id="clip-shape" clipPathUnits="objectBoundingBox">
					<polygon points="0 1, 0 0, 1 0, 0.8 1" />
				</clipPath>
			</defs>
		</svg>
	</div>
	<div class="user-info col-xs-6">
		<p><%= @user.username %></p>
		<p><%= @user.first_name %> <%= @user.last_name %></p>
		<p><%= @user.bio %></p>
		<p><%= @user.cell_phone %></p>
	</div>
</div>
<div class="row">
	<div class="search_button_area col-xs-6"><%= button_to 'Create Item to Share', new_item_path, method: :get, class: "btn" %>
		
	</div>
	<div class="col-xs-6"><%= button_to 'Search Other Users', users_path, method: :get, class: "btn" %></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>Owned Crap</h1>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped table-hover" >
		<thead class="thead-inverse">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Category</th>
				<th>Image</th>
				<th>Loaned?</th>
				<th>Loan It</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @user.items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.description %> </td>
				<td><%= item.category %></td>
				<td><%= image_tag item.avatar.url ('thumb'), class: "img-thumbnail" %></td>
				<td>
					<% if @user.shared_items.where(item_id: item.id).length < 1 %>
					Nope
					<% else %>
					Loaned To: <%= @user.shared_items.find_by_item_id(item.id).borrower.username %>
					<% end %></td>
					<td>
						
						<button class="btn">
							<% if @user.shared_items.where(item_id: item.id).length < 1 %>
							<%= link_to 'Loan', new_item_share_path(item: item.id)%>
							<% else %>
							<%= link_to 'Take Back', item_share_path, method: :delete %>
							<% end %>
						</button>
						
					</td>
					<td>
						<%= button_to 'Delete', item, method: :delete, remote: true, data: { confirm: "Are you sure you want to remove this item from your inventory?" }, class: "btn" %>
					</td>
				</tr>
				<% end %>

			</tbody>
		</table>
	</div>
	<hr>
	<% if @user.borrowed_from_user.present? %>
	<div class="row">
		<div class="col-xs-12">
			<h1>Borrowed Crap</h1>
		</div>		
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">

			<thead class="thead-inverse">
				<tr>
					<th>Item</th>
					<th>Who owns it?</th>
					<th>Their Email</th>
				</tr>
			</thead>
			<tbody>
				<% @user.borrowed_from_user.each do  |item| %>
				<tr>
					<td><%= item[0] %></td>
					<td><%= item[1] %></td>
					<td><%= item[2] %></td>
				</tr>
				<% end %>
			</tbody>

		</table>
		<% end %>
		<hr>

		<% if @user.shared_items.present? %>
		<div class="row">
			<div class="col-xs-12">
				<h1>Lowned Crap</h1>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-hover">

				<thead class="thead-inverse">
					<tr>
						<th>Item</th>
						<th>Who has it?</th>
						<th>Email</th>
						<th>Cell Phone</th>
					</tr>
				</thead>
				<tbody>
					<% @have.each do |have|  %>
					<tr>
						<td><%= have.item_borrowed.name %></td>
						<td><%= have.borrower.username %></td>
						<td><%= have.borrower.email %></td>
						<td><%= have.borrower.cell_phone %> </td>
					</tr>
				</tbody>
				<% end %>
			</table>
			<% end %>
		</div>


