<!-- This pages handles multiple functions:
	- Shows user profile
	- Alows user to delete and or edit account.
	- Shows the items the user owns
	- Shows the items the user has loaned
	- Shows the items the user has borrwed
-->


<div class="row">
	<div class="clip-wrap col-xs-5">
		<%= image_tag @user.avatar.url(:small), class: "user_profile_element img-thumbnail img-responsive" %>
		<svg width="0" height="0">
			<defs>
				<clipPath id="clip-shape" clipPathUnits="objectBoundingBox">
					<polygon points="0 1, 0 0, 1 0, 0.8 1" />
				</clipPath>
			</defs>
		</svg>
	</div>
	<div class="user-info col-xs-7">
		<p><%= @user.username %></p>
		<p><%= @user.first_name %> <%= @user.last_name %></p>
		<p><%= @user.bio %></p>
		<p><%= @user.cell_phone %></p>
	</div>
</div>
<div class="row">
	<div class="button-areas col-xs-12">
		<div class="search_button_area col-xs-6 pull-left">
		<%= button_to 'Search Other Users', users_path %>
		</div>
		<div class=" col-xs-6 pull-right"><%= button_to 'Create Item to Share', new_item_path %></div>
	</div>
</div>
<div class="row">
	<h1>Owned Crap</h1>
	<table class="table" >

		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Category</th>
				<th>Image</th>
				<th>Loaned?</th>
				<th>Loan It</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @user.items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.description %> </td>
				<td><%= item.category %></td>
				<td><%= image_tag item.avatar.url ('thumb'), class: "img-thumbnail" %></td>
				<td>
					<% if @user.shared_items.where(item_id: item.id).length < 1 %>
					Nope
					<% else %>
					Loaned To: <%= @user.shared_items.find_by_item_id(item.id).borrower.username %>
					<% end %></td>
					<td><% if @user.shared_items.where(item_id: item.id).length < 1 %>
					<button><%= link_to 'Loan', new_item_share_path(item: item.id) %></button>
					<% else %>
					<%= button_to 'Take Back' %><% end %></td>
					<td>
						<%= button_to 'Delete', item, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
	<hr>
	<h1>Borrowed Crap</h1>
	<!-- This should go a list of items that the user has borrowed. -->	



	<hr>

	<% if @user.shared_items.present? %>
	<h1>Lowned Crap</h1>
	<div>
		<table class="table">

			<thead>
				<tr>
					<th>Item</th>
					<th>Who has it?</th>
					<th>Their Email</th>
				</tr>
			</thead>
			<tbody>
				<% @have.each do |have|  %>
				<tr>
					<td><%= have.item_borrowed.name %></td>
					<td><%= have.borrower.username %></td>
					<td><%= have.borrower.email %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<% end %>
	</div>



