

<%= content_for :page_title, 'Profile' %>

<div class="row">
	<div class="clip-wrap col-xs-4">
		<%= image_tag @user.avatar.url(:small), class: "user_profile_element img-rounded img-responsive" %>
		<svg width="0" height="0">
			<defs>
				<clipPath id="clip-shape" clipPathUnits="objectBoundingBox">
					<polygon points="0 1, 0 0, 1 0, 0.8 1" />
				</clipPath>
			</defs>
		</svg>
	</div>
	<div class="user-info col-xs-8">
		<div class="user-profile-text">
			<h3><%= @user.username %> | <small class="text-muted"><%= @user.first_name %> <%= @user.last_name %></small>
			</h3>
			<hr>
			<p><%= @user.bio %></p>
			<hr>
			<p><span><%= @user.cell_phone %> | <%= @user.email %></span></p>
		</div>
	</div>
</div></br>
<div class="row">
	<div class="search_button_area col-xs-3"><%= button_to 'Create Item to Share', new_item_path, method: :get, class: "btn" %>
		
	</div>
	<div class="col-xs-3"><%= button_to 'Search Other Users', users_path, method: :get, class: "btn" %></div>
</div>
<div id="owned-item-container">
	<div class="row">
		<h1 class="col-xs-5"><% if @user.items.blank? %>Create Something<%else%>Your Stuff <i class="fa fa-bars" id="owned-button" style="cursor: pointer"></i></h1>
	</div>
	<div id="owned-table-container">
		<div class="table-responsive">
			<table class="table table-striped table-hover" >
				<thead class="thead-inverse">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Category</th>
						<th>Image</th>
						<th>Loaned?</th>
						<th>Loan It</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<% @user.items.each do |item| %>
					<tr>
						<td><%= item.name %></td>
						<td><%= item.description %> </td>
						<td><%= item.category %></td>
						<td><%= image_tag item.avatar.url ('thumb'), class: "img-thumbnail" %></td>
						<td>
							<% if @user.shared_items.where(item_id: item.id).length < 1 %>
							Nope
							<% else %>
							Loaned To: <%= @user.shared_items.find_by_item_id(item.id).borrower.username %>
							<% end %></td>
							<td>
								<% if @user.shared_items.where(item_id: item.id).length < 1 %>
								<button class="btn"><%= link_to 'Loan', new_item_share_path(item: item.id)%></button>
								<% else %>
								<%= button_to 'Take Back', item_share_path( item.find_item_share), class: "btn", method: :delete %>						
								<% end %>
							</td>
							<td>
								<%= button_to 'Delete', item,  method: :delete, remote: true, data: { confirm: "Are you sure you want to remove this item from your inventory?" }, class: "btn delete-item" %>
							</td>
						</tr>
						<% end %>

					</tbody>
				</table>
			</div>
		</div>
		<% end %>
	</div>
	<div id="borrowed-container">
		<% if @user.borrowed_from_user.present? %>
		<hr>
		<div class="row">
			<h1 class="col-xs-5">Borrowed Stuff <i class="fa fa-bars" id="borrowed-button" style="cursor: pointer"></i></h1>
		</div>		
	</div>
	<div id="borrowed-table-container">
		<div class="table-responsive">
			<table class="table table-striped table-hover">

				<thead class="thead-inverse">
					<tr>
						<th>Item</th>
						<th>Who owns it?</th>
						<th>Their Email</th>
					</tr>
				</thead>
				<tbody>
					<% @user.borrowed_from_user.each do  |item| %>
					<tr>
						<td><%= item[0] %></td>
						<td><%= item[1] %></td>
						<td><%= mail_to item[2] %></td>
					</tr>
					<% end %>
				</tbody>

			</table>
			<% end %>
		</div>
	</div>

	<% if @user.shared_items.present? %>
	<div id="lowned-stuff-container">
		<hr>
		<div class="row">
			<h1 class="col-xs-5">Lowned Stuff <i class="fa fa-bars" id="lowned-button" style="cursor: pointer"></i></h1>
		</div>
		<div id="lowned-stuff-table-container">
			<div class="table-responsive">
				<table class="table table-striped table-hover">

					<thead class="thead-inverse">
						<tr>
							<th>Item</th>
							<th>Who has it?</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @have.each do |have|  %>
						<tr>
							<td><%= have.item_borrowed.name %></td>
							<td><%= have.borrower.username %></td>
							<td><%= have.borrower.email %></td>
							<td><% if have.borrower.cell_phone.blank? %>
								No Cell Phone
								<% else %>
								<%= button_to "Send Reminder Text Message", twilio_send_path( {phone: have.borrower.cell_phone}), method: :post, class: "btn btn-default" %> <% end %> </td>
							</tr>
						</tbody>
						<% end %>
					</table>

					<% end %>
				</div>
			</div>
		</div>




