<!-- This pages handles multiple functions:
	- Shows user profile
	- Alows user to delete and or edit account.
	- Shows the items the user owns
	- Shows the items the user has loaned
	- Shows the items the user has borrwed
-->



<div class="clip-wrap">
	<%= image_tag @user.avatar.url(:small), class: "user_profile_element" %>
</div>

<svg width="0" height="0">
	<defs>
		<clipPath id="clip-shape" clipPathUnits="objectBoundingBox">
			<polygon points="0 1, 0 0, 1 0, 0.8 1" />
		</clipPath>
	</defs>
</svg>
<p><%= @user.username %></p>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.bio %></p>
<p><%= @user.cell_phone %></p>
<div class="search_button_area">
	<button class="search_button"><%= link_to 'Search Other Users', users_path %></button>
</div>

<h1>Owned Crap</h1>
<table>
	<% @user.items.each do |item| %>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Image</th>
			<th>Loaned?</th>
			<th>Loan It</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= item.id %></td>
			<td><%= item.name %></td>
			<td><%= item.description %> </td>
			<td><%= item.category %></td>
			<td><%= image_tag item.avatar.url ('thumb') %></td>
			<td>
				<% if @user.shared_items.where(item_id: item.id).length < 1 %>
				Nope
				<% else %>
				Loaned To: <%= @user.shared_items.find_by_item_id(item.id).borrower.username %>
				<% end %></td>
				<td><button><%= link_to 'Loan', new_item_share_path(item: item.id) %></button></td>
				<td><button>
					<%= link_to 'Delete', item, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
				</button></td>
			</tr>
		</tbody>
		<% end %>
	</table>
	<hr>
	<h1>Borrowed Crap</h1>
	<% if ItemShare.where(user_id: @userId) %>
	Sexy times
	<% end %>
	<hr>
	
	<% if @user.shared_items.present? %>

	<h1>Loanned Crap</h1>
	<div>
		<table>
			<% @have.each do |have|  %>
			<thead>
				<tr>
					<th>Item</th>
					<th>Who has it?</th>
					<th>Their Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= have.item_borrowed.name %></td>
					<td><%= have.borrower.username %></td>
					<td><%= have.borrower.email %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<% end %>
	</div>



