<%= content_for :page_title, 'Create Something to Share' %>

<h1 class="text-center">Create A New Item To Lown</h1>
<div class="form-container center-block">
	<%= form_for @item do |f| %>
	<div class="form-group row">

		<%= f.label :name, class: "sr-only" %>
		<div class="col-sm-12">
			<%= f.text_field :name, required: true, autofocus: true, class: "form-control", placeholder: "Name of Item" %>
		</div>
	</div>
	<div class="form-group row">
		<%= f.label :category, class: "sr-only"  %>
		<div class="col-sm-12">
			<%= f.select :category, options_for_select([['Book'], ['Music'], ['Money'], ['Bike'], ['Misc'], ['Appliance'], ['Clothes'], ['Jewelry'], ['Electronic'], ['Vice']]), {include_blank: 'Select a Category'}, {class: 'form-control'} %>
		</div>
	</div>
	<div class="form-group row">
		<%= f.label :description, class: "sr-only"  %>
		<div class="col-sm-12">
			<%= f.text_area :description, class: "form-control", placeholder: "Brief Description" %>
		</div>
	</div>
	<label class="file">
		<div class="row">
			<%= f.file_field :avatar, class: "col-sm-8 form-control-file", id: "file"%>

			<span class="file-custom"></span>
		</div>
	</label>
	<div class="form-group row">
		<%= f.submit "Create New Item", class: "btn btn-secondary col-sm-6 col-sm-offset-3 send-item" %>
		<div class="col-sm-3">
		<button type="button" class= "btn btn-info" id="find-out-more" data-toggle="popover" title="What does this do?" data-placement="right" data-content="After you create the item, you can loan it to a friend."><i class="fa fa-question-circle"></i></button>
		</div>
	</div>
	<% end %>
</div>
