<!DOCTYPE html>
<html>
<head>
  <title>Borrow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div class='nav'>
       <nav>
       	<ul>
       		<li>
       			<%= link_to 'Create Item to Share', new_item_path %>
       		</li>
       	</ul>
       </nav>
<ul class="hmenu">
  <%= render 'devise/shared/registration_items' %>
  <%= render 'devise/shared/login_items' %>
</ul>

<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
